.root
    position relative
    +tablet()
        flex-direction row
        flex-wrap wrap
.card
    height 31u
    display flex
    align-items center
    justify-content center
    margin 2u
    +tablet()
        width 31u