_textColor = black
_primary = white

_TopbarHeight = 8u

.wrapper
  z-index 1
  position relative
  color _textColor
  height _TopbarHeight
  background white
  padding 1u 4u
  width 100%

.userInfo
  text-align right