$menuHeight = 6u
$logoColor = #FCB69D

.layout
  background white
  width 100%
  height 100%

.contentWrapper
  height 100%
  display flex
  width 100%

.content
  margin-bottom: 8u

.menu
  background-color rgba(black, 0.02)
  height $menuHeight
  z-index 1
  align-items center
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)

.logo
  margin-left 2u
  color $UI.colors.secondaryText
  font(xl)

.body
  flex 1

.authRoot
  margin auto
  background white
  padding 2u
  width 100%
  +tablet()
    padding 4u
    width 50u
