.name
    font-weight bold
    font-size 2u

.popover
    position relative

.popoverContainer
    padding 1u
    position absolute

.answer
    margin-left 1u

.answerText
    color black
.answerPop
    margin 1u